.App {
  max-width: 1290px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
h2 {
  font-weight: 400;
}
.navLink {
  grid-area: 1 / 1 / 6 / 2;
}
.main {
  grid-area: 1 / 2 / 6 / 6;
}

h3 {
  padding: 10px;
}
button {
  max-width: 300px;
  margin: 15px 0;
  border: none;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  background: #cff8de8c;
  box-shadow: 3px 3px 10px #ffffff;
  color: #000000;
  transition: 0.2s ease-in;
}
button:hover {
  background: #a7efc18c;
  box-shadow: 6px 6px 10px #e6bac1;
}
.top__block {
  display: flex;
  justify-content: space-between;
}
.df-block {
  display: flex;
}
.colum {
  flex-direction: column;
}
.ai-jf {
  align-items: center;
  justify-content: space-between;
}
.text-block {
  width: 50%;
  padding: 0 7px;
  line-height: 24px;
}
.rigth {
  display: flex;
  align-items: center;

  justify-content: center;
}
.seactAndSort {
  display: flex;
  align-items: center;
  gap: 40px;
}

.sort {
  position: relative;

  color: #847f7f;

  &__label {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: #000000;
      border-bottom: 1px solid #000000;
      cursor: pointer;

      border: solid 2px #00000086;
      padding: 10px;
      border-radius: 10px;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #0101018e;
    box-shadow: 10px 5px 15px rgba(255, 255, 255, 0.747);
    border-radius: 0 16px 16px 16px;
    overflow: hidden;
    padding: 10px 0;
    text-decoration: none;
    list-style: none;
    ul {
      overflow: hidden;
      padding: 0 20px;

      li {
        list-style: none;
        font-weight: 300;
        font-size: 20px;
        padding: 12px 20px;
        cursor: pointer;
        transition: 0.2s ease-in;
        border-radius: 30px;
        &:hover {
          transform: scale(1.1);

          background: #84af99;
          border-radius: 30px;
        }
        /* 
        &.active,
        &:hover {
          background: rgba(0, 148, 54, 0.294);
        } */

        &.active {
          color: #ffffff;
        }
      }
    }
  }
}
